.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.submenuFlex{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 14px;
}
.content{
  margin: 10px;
}
.navlink{
  display: flex;
  align-items: center;
  width: 60%;
}
.link{
  margin-right: 20px !important;
  font-size: 1rem !important;
  transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
}
.link:hover{
  color: rgb(225, 225, 230);
}
.avatar{
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.avatar img{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 margin-right: 10px;
 border: 2px solid #ddd;
}
.users{
  margin-top: 3px;
  padding: 0px 8px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 400;
  color: rgb(115, 115, 128);
  transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
}
.users:hover{
  color: rgb(225, 225, 230);
}
.customer{
 display: flex !important; 
 flex-direction: column !important;
 background-color: aqua;
}
.reset .normalize{
  flex: 1;
}
.reset{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.fiuser{
  margin-right: 5px;
}
.logo{
  height: 72px;
  padding: 0px 30px;
  vertical-align: middle;
  transition: all 0.5s ease-in-out 0s;
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}